*{padding:0;margin:0;font-family:微软雅黑;color:#333;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
i{font-style:normal;}
.f-l{float:left;}
.f-r{float:right;}

/* PC端 */
.part-1{background:#048ae3;position:relative;}
.part-1 img.hd-bg{width:100%;margin-bottom:-4px;}
.download{position:absolute;left:24%;top:44%;width:28%;}
.download img.code{width:38%;height:auto;margin-right:6%;}
.download img.dw-btn{border:none;margin:3% 0;width:48%;}
.web_container .content{padding:90px 21%;}
.web_container .content img{width:36.6%;}
.web_container .content>div{margin-top:16%;}
.web_container .content>div strong{font-size:2.875rem;}
.web_container .content i{color:#2b93ff;}
.web_container .content>div p{font-size:1.625rem;}
.web_container .part-2{padding-left:20%;padding-top:70px;}
.web_container .part-3{text-align:right;background-color:#f5f8fd;}
.web_container .part-3 div{text-align:left;}
.web_container .part-5{padding-top:30px;background-color:#048ae3;padding:15px 24%;color:#fff;}
.web_container .part-5 h2{font-size:1.875rem;text-align:center;color:#fff;margin-bottom:40px;}
.web_container .part-5 p{font-size:0.875rem;text-align:center;color:#fff;}
.web_container .f-g{width:33.3%;height:auto;margin-bottom:27px;text-align:center;}
.web_container .f-g-1 img{width:69%;margin:3%;}
.web_container .f-g-2 img{width:47.5%;}
.web_container .f-g li{list-style:none;text-align:left;height:3.125rem;margin:7%;line-height:3.125rem;padding-left:5rem;background:url(img/qq.png) left center no-repeat;-webkit-background-size:3.125rem;background-size:3.125rem;}
.web_container .f-g li:nth-child(2){background-image:url(img/MAIL.png);}
.web_container .f-g span{color:#fff;white-space:nowrap;}
.container{display:none;}
.xiangxiatishi{display:none;}

/* 手机端 */
.slider{width:100%;height:100%;overflow:hidden;position:relative;}
.container{width:100%;height:100%;position:relative;left:0;top:0%;display:none;}
.container .page{height:100%;position:relative;text-align:center;padding-top:22px;box-sizing:border-box;-webkit-box-sizing:border-box;}
.container .page p{font-size:15px;color:#fff;}
.container .page img{width:80%;margin-top:35px;}
.container a{text-decoration:none;height:44px;width:82%;position:absolute;display:block;text-align:center;line-height:44px;border-radius:22px;background-color:#e9f9ff;color:#00bafd;font-size:16px;margin:40px auto 20px;bottom:0;left:0;right:0;}
.container .page0{background-color:#00bafd;}
.container .page1 a{background-color:#00bafd;color:#fff;}
.container .page1 p{color:#2b93ff;}
.container .page1 p.art{margin:10% 5% 3%;}
.container .page1{}
.container .page2{background-color:#00bafd;}
.xiangxiatishi{position:fixed;bottom:20px;left:50%;-webkit-transform:translateX(-50%);-webkit-animation:dong 1s linear 0s infinite alternate;display:none;width:7%;max-width:40px;}
@-webkit-keyframes dong{
	from{bottom:15px;opacity:1;}
	to{bottom:55px;opacity:0;}
}
@media screen and (max-width:1600px){
	html{font-size:80%;}
}
@media screen and (max-width:1366px){
	html{font-size:62.5%;}
}
@media screen and (max-width:960px){
	html{font-size:50%;}
}
@media screen and (max-width:750px){
	html,body{width:100%;height:100%;overflow:hidden;}
	.container{display:block;}
	.xiangxiatishi{display:block;}
	.web_container{display:none;}
}